<div class="po-wrapper">
  <po-toolbar [p-title]="title"></po-toolbar>

  <po-menu [p-menus]="menus"></po-menu>

  <po-page-default p-title="Crud Protheus">
    <div class="po-row margin-10">
      <po-button 
      p-label="Incluir" 
      p-icon="po-icon-plus"
      p-kind="primary"
      (p-click)="insert()">
      </po-button>
    </div>
    <div class="po-row po-lg-12">
      <po-table 
      [p-columns]="tableColumns" 
      [p-actions]="tableActions" 
      [p-actions-right]="true" 
      [p-items]="tableItems" 
      [p-hide-columns-manager]="true"
      (p-show-more)="showMore()"
      [p-loading-show-more]="loadingMore"
      [p-show-more-disabled]="showMoreDisabled">
      </po-table>
    </div>
  </po-page-default>
</div>